.input-field .prefix ~ input, .input-field .prefix ~ textarea , .input-field .prefix ~ div.select-wrapper {
  margin-left: 3rem;
  width: 92%;
  width: calc(100% - 3rem);
}

.chip {
  margin-top: 5px;
}


.secondary-content .material-icons{
  color: #5C5C5C;
}

.header {
  color: #ee6e73;
}

.capitalize {
  text-transform: capitalize;
}

.task-title {
  text-transform: capitalize;
  font-weight: bold;
}

a.brand-logo {
  padding: 0 15px !important;
}

.collection-item.active {
  background-color: rgba(255, 26, 26, 0.22) !important;
  color: black !important;
}


.icon {
  margin-top: 10px !important;
  font-size: 21px !important;
}