.input-field .prefix ~ input, .input-field .prefix ~ textarea , .input-field .prefix ~ div.select-wrapper {
    margin-left: 3rem;
    width: 92%;
    width: calc(100% - 3rem);
}

.chip {
  margin-top: 5px;
}


.secondary-content .material-icons{
  color: #26a69a;
}

.header {
  color: #ee6e73;
}

.capitalize {
  text-transform: capitalize;
}

.task-title {
  text-transform: capitalize;
  font-weight: bold;
}